.wrapper {
    margin: 20px 0 0 24px;
    max-width: 720px;
    border-bottom: 1px solid rgba(22, 24, 35, 0.12);

    h2 {
        font-size: 3rem;
        color: rgb(22, 24, 35);
        padding-bottom: 16px;
    }
}