.popupItem {
    .icon {
        font-size: 1.4rem;
        color: var(--black);
    }
    span {
        margin-left: 10px;
        display: inline-block;
        font-size: 1.4rem;
        color: var(--black);
    }
}